body {
            background: #f6ede5;
            color: #c5a15d;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* HEADER */

        header {
            background-color: #c5a15d;
            background-image: url(universe.png);
            background-size: 200%;
           background-position: center ;
            height: 400px;
            padding: 20px;
            text-align: center;
        }
        header a {
            color: #f6ede5;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 40px;
        }
        header .mobile {
            display: none;
        }

        header .logo a{
            background-image: url(logo.png);
            background-size: 300px;
            background-repeat: no-repeat;
            display: inline-block;
            height: 100px;
            position: relative;
            text-indent: -9999999999px;
            top: -60px;
            width: 300px;
        }
        nav ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
       nav li {
            display: inline-block;
            margin-right: 20px;
        }

         /* RESPONSIVE RULES */

         @media screen and (min-width: 715px) {
               header {
                height: 250px;
                background-position: 0 -30px;
               }
              header .mobile {
                display: inline-block;
            }
              header .desktop {
               display: none;
            }
       }
       @media screen and (min-width: 500px) {
               header {
                height: 200px;
                background-position: 0 -0px;
               }
            }

        /* FEATURES */

        .features {
            background: #c5a15d;
            color: #f6ede5;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        } 
        .features figure {
            margin: auto;
            text-align: center;
            text-transform: none;
            width: 200px;
        }
        .features figure img {
            border: 2px solid #f6ede5;
            border-radius: 10px;
            box-shadow: 10px;
            width: 200px;
        }

        /* FOOTER */

        footer {
            background: #745436;
            color: #c5a15d;
            font-size: 12px;
            text-align: center;
            padding: 20px 20px;
        }